{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Komunikimi me Psikologen</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="floating-labels.css" rel="stylesheet">
    <title>Hello, world!</title>
  </head>
  <body>

   <!-- NavBar -->

      <main role="main" class="container">
      <div style="margin-top: 300px;" class="mt-4">
        <form class="was-validated">
          <h1>Komuniko me Sekretaren</h1>
            <div class="mb-3">
              <label for="validationTextarea">Mesazhi</label>
              <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Shkruani mesazhin tuaj ketu" required></textarea>
              <div class="invalid-feedback">
                Ju lutem shkruani mesazhin.
              </div>
            </div>
          
            <div class="form-group">
              <select class="custom-select" required>
                <option value="">Gjinia</option>
                <option value="1">Mashkull</option>
                <option value="2">Femer</option>
              </select>
              <div class="invalid-feedback">Ju lutem vendosni gjinin tuaj.</div>
            </div>

            <div class="form-group">
                <select class="custom-select" required>
                  <option value="">Ju jeni...</option>
                  <option value="1">Prind</option>
                  <option value="2">Nxenes</option>
                </select>
                <div class="invalid-feedback">Ju lutem vendosni gjinin tuaj.</div>
              </div>  
          
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="validatedCustomFile" required>
              <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
              <div class="invalid-feedback">Ju lutem vendosni filin e caktuar</div>
            </div>
        </div>
        <button class="btn btn-primary mt-5" type="submit">Dergo</button>
      </form>
          </form>
      </div>
      </main>

       <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="costum.js"></script>
  </body>
</html>

{% endblock %}